 <tr>
   <td>
     <%= banner.id %>
   </td>
   <td>
     <%= banner.start_date %>
   </td>
   <td>
     <%= banner.end_date %>
   </td>
   <td>
     <%= banner.user.full_name %>
   </td>
   <td>
     <%= banner.location %>
   </td>
   <td>
     <%= truncate(banner.headline) %>
   </td>
   <td>
     <%= link_to 'Edit', edit_banner_path(banner), id: "edit_#{banner.id}" %>
   </td>
 </tr>